application.name=das-webapp
application.version=${build_version}
das.jobs.dir=/user/{{data_analytics_studio_user}}/jobs
das.api.url={{data_analytics_studio_webapp_server_url}}
use.hive.interactive.mode=true
