application.name=das-webapp
hive.session.params={{data_analytics_studio_hive_session_params}}
das.jobs.dir=/user/{{data_analytics_studio_user}}/jobs
das.api.url={{data_analytics_studio_webapp_server_url}}
use.hive.interactive.mode=true
