{
  "data_dir": "/consul/data",
  "log_level": "INFO",
  "server": false,
  "services": [{
    "name": "das",
    "tags": ["das-app","dp-plugin-app", "dps-plugin"],
    "port": 80,
    "checks": [{
      "name": "NGINX up check",
      "http": "http://127.0.0.1/health",
      "interval": "15s"
    }]
  }]
}
